<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sundial WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Sundial WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sundial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SundialTests.testJulianConversion.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SundialTests.testAstroCalculation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F070D522474B60F0068E1BE</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0F070D682474B6110068E1BE</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0F070D732474B6110068E1BE</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>0F070D7C2474B6110068E1BE</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
